<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Simple Test Suite">
  <test name="Simple Test Suite">
	<parameter name="url" value="https://codility-frontend-prod.s3.amazonaws.com/media/task_static/qa_search/6f03f4361b080eeb747193aadd94cd2b/static/attachments/reference_page.html"></parameter>
    <classes>
      <class name="com.yasser.tests.TestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
